<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.geelato.web.platform.srv.company.mapper.CompanyMapper">

    <!-- 结果映射 -->
    <resultMap id="CompanyResultMap" type="cn.geelato.meta.Company">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
        <result column="short_name" property="shortName"/>
        <result column="address" property="address"/>
        <result column="code" property="code"/>
        <result column="country_code" property="countryCode"/>
        <result column="standard_currency" property="standardCurrency"/>
        <result column="pid" property="pid"/>
        <result column="en_name" property="enName"/>
        <result column="en_address" property="enAddress"/>
        <result column="local_language" property="localLanguage"/>
        <result column="cooperating_org_id" property="cooperatingOrgId"/>
        <result column="org_id" property="orgId"/>
        <result column="dept_id" property="deptId"/>
        <result column="bu_id" property="buId"/>
        <result column="tenant_code" property="tenantCode"/>
        <result column="del_status" property="delStatus"/>
        <result column="create_at" property="createAt"/>
        <result column="creator" property="creator"/>
        <result column="update_at" property="updateAt"/>
        <result column="updater" property="updater"/>
    </resultMap>


    <!-- 查询条件 -->
    <sql id="Where_Clause">
        <where>
            <if test="params.id != null and params.id != ''">
                AND id = #{params.id}
            </if>
            <if test="params.name != null and params.name != ''">
                AND name LIKE CONCAT('%', #{params.name}, '%')
            </if>
            <if test="params.enableStatus != null">
                AND enable_status = #{params.enableStatus}
            </if>
            <if test="params.tenantCode != null and params.tenantCode != ''">
                AND tenant_code = #{params.tenantCode}
            </if>
        </where>
    </sql>

    <!-- 查询公司列表 -->
    <select id="selectCompanyList" resultMap="CompanyResultMap">
        SELECT *  FROM platform_company
        <include refid="Where_Clause"/>
        ORDER BY create_at DESC
    </select>

    <!-- 分页查询公司列表 -->
    <select id="selectCompany" resultMap="CompanyResultMap">
        SELECT *  FROM platform_company
        <include refid="Where_Clause"/>
        ORDER BY create_at DESC
    </select>

    <!-- 根据ID查询公司信息 -->
    <select id="selectCompanyById" resultMap="CompanyResultMap">
        SELECT *  FROM platform_company
        WHERE id = #{id}
    </select>

    <!-- 查询公司总数 -->
    <select id="selectCompanyCount" resultType="int">
        SELECT COUNT(1)
        FROM platform_company
        <include refid="Where_Clause"/>
    </select>

</mapper>